body{
    background:url('kosmos.jpeg') no-repeat center center;
    position: fixed; 
}

.planeta1{
    position: absolute;
    left: 1000px;
    top: 200px;
    width: 200px;
    height: 200px;
    transition-property: width;
}
.planeta1:hover {
    animation-name: cog;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.planeta2{
    position: absolute;
    left: 450px;
    top: 80px;
    width: 80px;
    height: 80px;
}
.planeta2:hover{
    animation-name: cog;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes cog{
    from {
        transform:rotate(0deg);
      }
      to {
        transform:rotate(360deg);
      }
}

.planeta3{
    position: absolute;
    left: -400px;
    top: 300px;
}

.kometa{
    animation: slideRight 5s infinite linear;
    position: absolute;
    height: 250px;
    
}
 
@keyframes slideRight {
    0% { left: 2000px; top:100px;}
    50%{ left: 1200px; top: 300px;}              
    100%{ left: 400px; top: 500px;}   
}

.roketa{
    animation: do 10s infinite linear;
    position: absolute;
}
 
@keyframes do {
    0% { left: -100px; top:500px; height: 300px;}
    50%{ left: 100px; top: 200px; height: 200px;}              
    100%{ left: 200px; top: -100px; height: 100px;}   
}

.in{
    animation: prig 3s infinite linear;
    position: absolute;
    height: 150px;

}
 
@keyframes prig {
    0% { left: 1060px; top:100px;}             
    50%{ left: 1060px; top: 50px;}
    100% { left: 1060px; top:100px;}   
}

.kosmonavt{
    animation: kach 3s infinite linear;
    position: absolute;
    height: 300px;
    left: 350px;
    top: 250px;
}
 
@keyframes kach {
    0% { transform:rotate(0deg);}             
    50%{ transform:rotate(20deg);}
    100% { transform:rotate(0deg);}   
}
 
.z1{
    animation: zvezda 3s infinite linear;
    position: absolute;
    left: 680px;
    top: 200px;
}
.z2{
    animation: zvezda 3s infinite linear;
    position: absolute;
    left: 710px;
    top: 240px;
}
.z3{
    animation: zvezda 3s infinite linear;
    position: absolute;
    left: 740px;
    top: 280px;
}
.z4{
    animation: zvezda 3s infinite linear;
    position: absolute;
    left: 770px;
    top: 240px;
}
.z5{
    animation: zvezda 3s infinite linear;
    position: absolute;
    left: 800px;
    top: 280px;
}
.z6{
    animation: zvezda 3s infinite linear;
    position: absolute;
    left: 830px;
    top: 240px;
}
.z7{
    animation: zvezda 3s infinite linear;
    position: absolute;
    left: 860px;
    top: 200px;

}
 
@keyframes zvezda {
    0% { height: 40px;}             
    50%{ height: 50px;;}
    100% { height: 50px;}   
}

.sl_k{
    display: block;
    height: 70px;
    width: 200px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    left: 280px;
    top: 180px;
    border: 1px solid gray;
    text-align: center;
}
.sl_k p{
    box-sizing: border-box;
    width: 200px;
    padding: 10px;
    padding-top: 0;
}

.sl_k:hover, .sl_k *:hover{
 opacity: 0;
}


.sl_in{
    display: block;
    height: 60px;
    width: 200px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    left: 850px;
    top: 50px;
    border: 1px solid gray;
    text-align: center;
    box-shadow: 5px 5px -10px rgba(0,0,0,0.5);
}